@font-face {
    font-family: Poppins;
    src: url(./font/Poppins-Regular.ttf);
}

* {
    box-sizing: border-box;
    font-family: Poppins;
}

body {
    padding: 0;
    margin: 0;
}

/*login + register*/

.error {
    color: #E85489;
    background-color: #F4F4F4;
    padding: 0.2em;
    padding-left: 1em;
    border-radius: 25px;
    border-style: none;
    visibility: hidden;
}

.loginLogo img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
    margin-bottom: 10%;
}

#loginForm {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#loginLabel {
    color: #535353;
    display: block;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 0.6em;
    margin: 2.5em 0 1.2em 0;
    padding-left: 0.5em;
}

#loginInput {
    background-color: #F4F4F4;
    border-radius: 25px;
    border-style: none;
    padding: 0.8em;
    width: 100%;
}

#loginSubmit {
    display: block;
    background-color: #37B6D3;
    border-style: none;
    border-radius: 25px;
    width: 100%;
    padding: 0.8em;
    margin-top: 2em;
    color: white
}

#loginForm a {
    display: block;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2.5em;
    width: 50%;
    color: #171717;
    text-decoration: none;
    text-align: center;
}

.registerLogo img {
    margin-top: 2.5%;
}

.loginCheckbox {
    display: flex;
    align-items: flex-start;
}

.checkbox {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 1em;
    border-radius: 80%;
    background-color: #F4F4F4;
    margin-left: 1em;
}

.checkbox:hover {
    border: 5px solid #37B6D3;
}

.loginCheckbox p {
    margin-left: 1em;
    align-items: baseline;
}

/* mobile nav */



nav {
    display: flex;
    align-items: flex-start;
    gap: 15%;
    padding: 1em;
}

.logo {
    width: 30%;
    margin-top: 0.4em;
}

.coins {
    border: 3px solid #37B6D3;
    border-radius: 5px;
    padding: 0.2em;
    display: flex;
    flex-direction: row;
    height: 3em;
}

.coins p {
    color: #37B6D3;
    font-weight: bold;
    margin-top: 6px;
}

#navIcon {
    width: 2em;
    margin-left: 4em;
}

/* index */

.line {
    display: block;
    background-color: #ece9e9;
    width: 100%;
    padding: 0.15em;
}

.sectionContainer {
    display: grid;
    grid-template-columns: 47% 47%;
    grid-template-rows: repeat(2, 87%);
    gap: 1em;
    justify-content: center;
    padding: 1em;
}

.section {
    font-weight: bolder;
    font-size: 1.2em;
    text-align: center;
    display: grid;
    align-items: center;
    justify-items: center;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    padding: 0.2em;
}

.leaderboard {
    background-color: #37B6D3;
}

.stats {
    background-color: #FFA700;
}

.earn {
    background-color: #35D4B0;
}

.dMonth {
    background-color: #E85489;
}



.indexSection{
    margin-top: 11em;
    margin-bottom: 18em;
}

.indexSection h1{
    font-size: 1.2em;
    margin-left: 1em;
}


.productsIndex {
    display: grid;
    grid-template-columns: 47% 47%;
    grid-template-rows: repeat(2, 87%);
    gap: 1em;
    justify-content: center;
    padding: 1em;
    height: 24em;

}


 .product{
    background-color: #F4F4F4;
    padding: 2.5em 0 2.5em 0;
 }

 .indexSection p{
     font-weight: bold;
     padding-left: 1em;
 }

 .priceProductIndex{
     display: flex;
     padding-left: 1em;
     padding-top: 0;
    
 }



 .priceProductIndex p{
     color: #37B6D3;
     font-size: 0.9em;

 }

 .productIndexTitle{
    padding-bottom: 0;
    margin-bottom: -0.2em;
}

#shopButton{
    display: block;
    background-color: #37B6D3;
    border-style: none;
    border-radius: 8px;
    width: 70%;
    padding: 0.8em;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-decoration: none;
    text-align: center;
}



footer{
    background-color: black;
    margin-top: -15em;
    padding-bottom: 2em;
}


/*footer*/

footer h3{
    font-size: small;
    letter-spacing: 0.2em;
}

footer div{
    color: white;
    margin-top: 4em;
    margin-left: 2em;
    margin-bottom: 1em;
}

.logoFooter{
    width: 40%;
    margin-top: 3em;
}

.footerLinks{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.footerLinks a{
    text-decoration: none;
    color: white;
}


/*orders*/

.ordersContainer{
    background-color: #F5F5F5;
    padding-top: 1em;
    padding-bottom: 1em;
}

.ordersCard{
    background-color: white ;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    border-radius: 12px;
    border: 2px solid #ece9e9;
    margin-bottom: 0.5em;
}

.ordersCard p{
    font-size: 0.8em;
}

.ordersCard h3{
    font-size: 0.9em;
    letter-spacing: 0.2em;
}

.orderCardContent div{
    margin-top: 0.9em;
}

.orderCardContent{
    width: 15em;
    margin-right: auto;
    margin-left: auto;
}

.ordersContainer h2{
    padding-left: 1.5em;
    padding-top: 1em;
    font-size: 1.1em;
}



.ordersContainer img{
    width: 2.5em;
    border-radius: 50%;
}

.ordersPerson{
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5em;
}

.ordersPerson p{
margin-left: 1em;
font-weight: bold;
}

.ordersInfo{
    display: flex;
    flex-direction: row;
}

.ordersInfo div{
    margin-right: 1em;
}

.orderStatus{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5em;
}

.ordersSubmit{
    display: block;
    background-color: #37B6D3;
    border-style: none;
    border-radius: 6px;
    width: 11em;
    padding: 0.8em;
    color: white;
    text-decoration: none;
    text-align: center;
}

.coinsOrders {
    border: 3px solid #37B6D3;
    border-radius: 5px;
    display: flex;
    width: 5em;
    height: 2.5em;
    padding-left: 0.2em;
    padding-right: 0.5em;
    padding-top: -0.5em;
    padding-bottom: -0.5em;
}


.coinsOrders img{
    width: 1.5em;
}

.coinsOrders p {
    color: #37B6D3;
    font-weight: bold;
    font-size: small;
    padding-left: 0.5em;

}

.mailOrders{
    text-align: center;
    padding-left: 20%;

}

.ordersCard a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    border-bottom:solid 2px black ;
    font-size: 0.8em;
    width: 100%;
    
}

.ordersComplete{
    background-color: #808080;
    width: 10em;
}

.footer{
    margin-top: 15em;
}

/* stats */
 .statsCoins{
    color: #37B6D3;
    display: flex;
    flex-direction: row;
    width: 4em;
    margin-left: auto;
    margin-right: auto;

 }

 .statsH3{
     width: 16em ;
     margin-left: auto;
     margin-right: auto;
 }

 .statsLine {
    display: block;
    background-color: black;
    width: 50%;
    padding: 0.05em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}

.ratings div{
    display: flex;
    flex-direction: row;
    background-color: #F5F5F5;
    padding: 0.5em;
    padding-left: 1em;
    margin-bottom: 1em;
    border-radius: 8px;


}

.ratings p{
    font-weight: bold;
    padding-right: 1em;
}

.star{
    color: #37B6D3;
    font-size: x-large;

}

.ratings img{
    width: 3em;
}

.leaderboardStats{
    background-color: #F5F5F5;
    text-align: center;
    width: 25em;
    margin-left: auto;
    margin-right: auto;
   
}

.winners{
    display: flex;
    flex-direction: row;
    color: white;
}
.winners div{
    background-color: #37B6D3;
    margin: 1em;
    border-radius: 10px;
    padding: 0.5em;

}
.winners img{
    width: 3em;
    margin-left: auto;
    margin-right: auto;
}

.winnersListItem{
    display: flex;
    flex-direction: row;
    gap: 10%;
justify-content: center;
}

.winnersListItem img{
    width: 1em;
}

.winnersCoins{
    display: flex;
    flex-direction: row;
}

.howTo{
    width: 23em;
    margin-left: auto;
    margin-right: auto;
}

/* contact */
.contact{
padding: 0.5em 1.5em 0.5em 1.5em;
}

.contactInput{
    background-color: #F4F4F4;
    border-radius: 10px;
    border-style: none;
    padding: 0.8em;
    width: 100%;
}


textarea{
    background-color: #F4F4F4;
    border-radius: 10px;
    border-style: none;
    padding: 0.8em;
    width: 100%;
}

#contactButton{
    background-color: #37B6D3;
    border-style: none;
    border-radius: 8px;
    width: 100%;
    padding: 0.8em;
    margin-top: 1em;
    color: white;
    text-align: center;
    margin-bottom: 1.5em;
}

.contactInfo img{
    border-radius: 0;
    width: 1em;

}

.contactInfo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em;
    width: 22em;
    margin-left: auto;
    margin-right: auto;

}

.contactInfoDiv{
    width: 40%;
    margin: 1em;
    display: flex;
    flex-direction: row;

}

.contactInfoDiv p{
font-size: small;
padding-left: 0.2em;
}

/* profile */
 .h3Profile{
     padding-left: 1em;
 }

 .abonnement{
     text-align: center;
 }

 .abonnementprice{
    background-color: #37B6D3;
    border-style: none;
    border-radius: 8px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.6em;
    margin-top: 1em;
    color: white;
    text-align: center;
    margin-bottom: 1.5em;

 }

 .transactiesContainer{
     background-color: white;
 }







