@font-face {
    font-family: Poppins;
    src: url(./font/Poppins-Regular.ttf);
}

* {
    box-sizing: border-box;
    font-family: Poppins;
}

body {
    padding: 0;
    margin: 0;
}



/*login + register*/

.loginContainer {
    margin-top: 20%;
}

.error {
    color: #E85489;
    background-color: #F4F4F4;
    padding: 0.2em;
    padding-left: 1em;
    border-radius: 25px;
    border-style: none;
}

.loginLogo img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
}

#loginForm {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#loginLabel {
    color: #535353;
    display: block;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 0.6em;
    margin: 2.5em 0 1.2em 0;
    padding-left: 0.5em;
}

#loginInput {
    background-color: #F4F4F4;
    border-radius: 25px;
    border-style: none;
    padding: 0.8em;
    width: 100%;
}

#loginSubmit {
    display: block;
    background-color: #37B6D3;
    border-style: none;
    border-radius: 25px;
    width: 100%;
    padding: 0.8em;
    margin-top: 2em;
    color: white
}

#loginForm a {
    display: block;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2.5em;
    width: 50%;
    color: #171717;
    text-decoration: none;
    text-align: center;
}

.registerLogo img {
    margin-top: 2.5%;
}

.loginCheckbox {
    display: flex;
    align-items: flex-start;
}

.checkbox {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 1em;
    border-radius: 80%;
    background-color: #F4F4F4;
    margin-left: 1em;
}

.checkbox:hover {
    border: 5px solid #37B6D3;
}

.loginCheckbox p {
    margin-left: 1em;
    align-items: baseline;
}

/* nav */

nav {
    display: flex;
    align-items: flex-start;
    gap: 7%;
    padding: 1em;
}

.logo {
    width: 30%;
    margin-top: 0.4em;
}

.coins {
    border: 3px solid #37B6D3;
    border-radius: 5px;
    padding: 0.2em;
    display: flex;
    flex-direction: row;
    height: 3em;
}

.coins p {
    color: #37B6D3;
    font-weight: bold;
    margin-top: 6px;
}

#navIcon {
    width: 2em;
    margin-left: 5em;
    margin-top: 0.5em;
}

.desktopNav {
    display: flex;
    flex-direction: row;
    padding: 1em;
    display: none;
}

.desktopNav a {
    text-decoration: none;
    color: black;
    margin-left: 0.5em;
    font-weight: 550;
    margin-top: 1em;
}

.desktopNavLinks {
    display: flex;
    flex-direction: row;
    margin-right: 2.7em;
}

.desktopNavLogo {
    width: 8em;
    margin-right: 2%;
}

.desktopNavProfile {
    width: 1.8em;
    border-radius: 50%;
}

.desktopNavCoins {
    display: flex;
    flex-direction: row;
    gap: 10%;
}

.desktopNavCoins a {
    background-color: #37B6D3;
    width: 8em;
    padding: 0.1em;
    border-radius: 10px;
    text-align: center;
    color: white;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* index */

.indexBackground {
    margin-bottom: 10em;
}

.line {
    display: block;
    background-color: #ece9e9;
    width: 100%;
    padding: 0.15em;
}

.sectionContainer {
    display: grid;
    grid-template-columns: 47% 47%;
    grid-template-rows: repeat(2, 87%);
    gap: 1em;
    justify-content: center;
    padding: 1em;
}

.section {
    font-weight: bolder;
    font-size: 1.2em;
    text-align: center;
    display: grid;
    align-items: center;
    justify-items: center;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    padding: 0.2em;
}

.leaderboard {
    background-color: #37B6D3;
}

.stats {
    background-color: #FFA700;
}

.earn {
    background-color: #35D4B0;
}

.dMonth {
    background-color: #E85489;
}

.indexSection h1 {
    font-size: 1.2em;
    margin-left: 1em;
}

.productsIndex {
    display: grid;
    grid-template-columns: 47% 47%;
    grid-template-rows: repeat(2, 87%);
    gap: 1em;
    justify-content: center;
    padding: 1em;
    height: 24em;
    margin-bottom: 15em;
}

.product {
    background-color: #F4F4F4;
    padding: 2.5em 0 2.5em 0;
}

.indexSection p {
    font-weight: bold;
    padding-left: 1em;
}

.priceProductIndex {
    display: flex;
    padding-left: 1em;
    padding-top: 0;
}

.priceProductIndex p {
    color: #37B6D3;
    font-size: 0.9em;
}

.productIndexTitle {
    padding-bottom: 0;
    margin-bottom: -0.2em;
}

#shopButton {
    display: block;
    background-color: #37B6D3;
    border-style: none;
    border-radius: 8px;
    width: 70%;
    padding: 0.8em;
    margin-top: 18em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 18em;
    color: white;
    text-decoration: none;
    text-align: center;
}

footer {
    background-color: black;
    margin-top: -15em;
    padding-bottom: 2em;
}

/*footer*/

footer h3 {
    font-size: small;
    letter-spacing: 0.2em;
}

footer div {
    color: white;
    margin-top: 4em;
    margin-left: 2em;
    margin-bottom: 1em;
}

.logoFooter {
    width: 40%;
    margin-top: 3em;
}

.footerLinks {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.footerLinks a {
    text-decoration: none;
    color: white;
}

/*orders*/

.ordersContainer {
    background-color: #F5F5F5;
    padding-top: 1em;
    padding-bottom: 1em;
}

.ordersCard {
    background-color: white;
    width: 25em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    border-radius: 12px;
    border: 2px solid #ece9e9;
    margin-bottom: 0.5em;
}

.ordersCard p {
    font-size: 0.8em;
}

.ordersCard h3 {
    font-size: 0.9em;
    letter-spacing: 0.2em;
}

.orderCardContent div {
    margin-top: 0.9em;
}

.orderCardContent {
    width: 15em;
    margin-right: auto;
    margin-left: auto;
}

.ordersContainer h2 {
    padding-left: 1.5em;
    padding-top: 1em;
    font-size: 1.1em;
}

.ordersContainer img {
    width: 2.5em;
    border-radius: 50%;
}

.ordersPerson {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5em;
}

.ordersPerson p {
    margin-left: 1em;
    font-weight: bold;
}

.ordersInfo {
    display: flex;
    flex-direction: row;
}

.ordersInfo div {
    margin-right: 1em;
}

.orderStatus {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5em;
}

.ordersSubmit {
    display: block;
    background-color: #37B6D3;
    border-style: none;
    border-radius: 6px;
    width: 11em;
    padding: 0.8em;
    color: white;
    text-decoration: none;
    text-align: center;
}

.coinsOrders {
    border: 3px solid #37B6D3;
    border-radius: 5px;
    display: flex;
    width: 5em;
    height: 2.5em;
    padding-left: 0.2em;
    padding-right: 0.5em;
    padding-top: -0.5em;
    padding-bottom: -0.5em;
}

.coinsOrders img {
    width: 1.5em;
}

.coinsOrders p {
    color: #37B6D3;
    font-weight: bold;
    font-size: small;
    padding-left: 0.5em;
}

.mailOrders {
    text-align: center;
    padding-left: 20%;
}

.ordersCard a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    border-bottom: solid 2px black;
    font-size: 0.8em;
    width: 100%;
}

.ordersComplete {
    background-color: #808080;
    width: 10em;
}

.footer {
    margin-top: 15em;
}

/* stats */

.statsCard {
    background-color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    border-radius: 12px;
    border: 2px solid #ece9e9;
    margin-bottom: 0.5em;
}

.statsCardContent {
    width: 15em;
    margin-right: auto;
    margin-left: auto;
}

.statsCoins {
    color: #37B6D3;
    display: flex;
    flex-direction: row;
    width: 4em;
    margin-left: auto;
    margin-right: auto;
}

.statsH3 {
    font-size: 80%;
    width: 14em;
    margin-left: auto;
    margin-right: auto;
}

.statsLine {
    display: block;
    background-color: black;
    width: 50%;
    padding: 0.05em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}

.ratings div {
    display: flex;
    flex-direction: row;
    background-color: #F5F5F5;
    padding: 0.5em;
    padding-left: 1em;
    margin-bottom: 1em;
    border-radius: 8px;
}

.ratings p {
    font-weight: bold;
    padding-right: 1em;
}

.star {
    color: #37B6D3;
    font-size: x-large;
}

.ratings img {
    width: 3em;
}

.leaderboardStats {
    text-align: center;
    width: 25em;
    margin-left: auto;
    margin-right: auto;
}

.winners {
    display: flex;
    flex-direction: row;
    color: white;
}

.winners div {
    background-color: #37B6D3;
    margin: 1em;
    border-radius: 10px;
    padding: 0.5em;
}

.winners img {
    width: 3em;
    margin-left: auto;
    margin-right: auto;
}

.winnersListItem {
    display: flex;
    flex-direction: row;
    gap: 10%;
    justify-content: center;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.winnersListItem img {
    width: 1em;
}

.winnersCoins {
    display: flex;
    flex-direction: row;
}

.howTo {
    width: 23em;
    margin-left: auto;
    margin-right: auto;
}

.howtoH3 {
    width: 13em;
    margin-left: auto;
    margin-right: auto;
}

/* contact */

.contact {
    padding: 0.5em 1.5em 0.5em 1.5em;
}

.contactInput {
    background-color: #F4F4F4;
    border-radius: 10px;
    border-style: none;
    padding: 0.8em;
    width: 100%;
}

textarea {
    background-color: #F4F4F4;
    border-radius: 10px;
    border-style: none;
    padding: 0.8em;
    width: 100%;
}

#contactButton {
    background-color: #37B6D3;
    border-style: none;
    border-radius: 8px;
    width: 100%;
    padding: 0.8em;
    margin-top: 1em;
    color: white;
    text-align: center;
    margin-bottom: 1.5em;
}

.contactInfo img {
    border-radius: 0;
    width: 1em;
}

.contactInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em;
    width: 22em;
    margin-left: auto;
    margin-right: auto;
}

.contactInfoDiv {
    width: 40%;
    margin: 1em;
    display: flex;
    flex-direction: row;
}

.contactInfoDiv p {
    font-size: small;
    padding-left: 0.2em;
}

/* profile */

.h3Profile {
    padding-left: 1em;
}

.abonnement {
    text-align: center;
}

.abonnementprice {
    background-color: #37B6D3;
    border-style: none;
    border-radius: 8px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.6em;
    margin-top: 1em;
    color: white;
    text-align: center;
    margin-bottom: 1.5em;
}

.transactiesContainer {
    background-color: white;
}

/*design */

.design {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 18em;
}

.design img {
    width: 100%;
}

.design p {
    text-align: center;
}

.design h1 {
    text-align: center;
    margin-top: 0;
}

.design h3 {
    letter-spacing: 0.2em;
    font-size: smaller;
    margin-bottom: 0;
    text-align: center;
}

.designTitle {
    font-weight: bold;
    font-size: smaller;
}

/* shop */

.shopContainer{
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.shopH3{
    margin: 1em;
    font-weight: bold;
    font-size: 1em;
}

.shopContainer img{
    padding: 2em;
}

.shopProduct{
    width: 10em;
    margin: 0.5em;

}
.shopProduct p{
margin-left: 1em;
margin-bottom: 0;
font-weight: bolder;

}

.shopProductImage{
    background-color: #F4F4F4;
}

.shopFilament{
    display: flex;
    flex-direction: row;
    margin-left: 1em;
    margin-top: 0.5em;
}

.shopFilament img{
    padding: 0;
}

.shopFilament p{
    padding: 0;
    margin-top: 0;
    color: #37B6D3;


}

.shopProductImage{
    width: 10em;
    border-radius: 8px;
}

.shop{
    width: 27em;
    margin-left: auto;
    margin-right: auto;

}

/*detailShop*/
.detailShopProductF{
    width: 15em;
    height: 15em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    background-color: #F4F4F4;


}
.detailShopProductF img{
    width: 14em;
    background-color: #F4F4F4;
    margin-top: 3em;


}

.detailShopProductInfo h1{
    width: 9em;
    margin-left: auto;
    margin-right: auto;
}

.shopDetailFilament{
    display: flex;
    flex-direction: row;
    color:#37B6D3 ;
    font-size: 2em;
    font-weight: 900;
    width: 5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.detailShopProduct{
    width: 22em;
    margin-right: auto;
    margin-left: auto;

}

.detailShopProductInfoExtra div{
    display: flex;
    flex-direction: row;
}

.detailShopProductInfoExtra p{
    margin: 1em;
}

.shopDetailBold{
    font-weight: bold;
}

.shopDetailFormMargin{
    margin: 1em;
}

.shopDeatailForm form{
    width: 9em;
margin-left: auto;
margin-right: auto;
}

.detailShop{
    margin-bottom: 18em;
}

.shopDetailFormRadio{
    margin-top: 1em;
}





@media(min-width: 700px) {
    .mobileNav {
        display: none;
    }
    .desktopNav {
        display: flex;
    }
}

@media(min-width: 800px) {
    .BackgroundColor {
        background-color: #F4F4F4;
    }
    .loginContainer {
        width: 50%;
        margin-top: 15%;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        padding: 5%;
    }
    .registerContainer {
        width: 50%;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        padding: 5%;
    }
    .desktopNavLinks {
        margin-right: 10em;
    }
    .indexBackground {
        background-color: #F4F4F4;
        padding: 2em;
        margin-bottom: 4em;
    }
    .sectionContainer {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: repeat(2, 87%);
        gap: 1em;
        justify-content: center;
        padding: 1em;
        margin-bottom: 10em;
    }
    .leaderboard {
        grid-row: 1 / span 3;
        grid-column: 3 / 3;
    }
    .stats {
        grid-row: 1 / span 1;
        grid-column: 2 / 3;
    }
    .dMonth {
        grid-row: 2 / span 2;
        grid-column: 1 / 3;
    }
    .productsIndex {
        display: grid;
        grid-template-columns: 22% 22% 22% 15%;
        grid-template-rows: repeat(1, 20%);
        gap: 1em;
        justify-content: center;
        padding: 1em;
        margin-bottom: 0;
    }
    #shopButton {
        margin-top: 1em;
        margin-bottom: 18em;
        width: 40%;
    }
    footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1em;
    }
    .activeOrders {
        display: flex;
        flex-direction: row;
    }
    .ordersCard {
        margin: 1em;
    }
    .statsCard {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1em;
        padding: 1em;
    }
    .yourStats {
        width: 30%;
    }
    .statsH3 {
        width: 17em;
    }
    .ratings {
        width: 100em;
    }
    .ratings div {
        width: 100%;
    }
    .winnersListItem {
        background-color: white;
    }
    .howTo {
        display: flex;
        flex-direction: row;
        width: 80%;
    }
    .howTo div {
        margin: 1em;
    }
    .howtoH3 {
        padding-top: 2em;
    }

    .shop{
        width: 80%;
        margin-left: auto;
        margin-right: auto;   
    }

    .shopProduct{
        width: 30%;
        margin: 1%;
    }

    .shopContainer{
        display: flex;
        flex-wrap: wrap;
    }

    .shopProductImage{
        width: 12em;
        border-radius: 8px;
    }
    
    .detailShopProduct{
        width: 50em;
        display: flex;
        flex-direction: row;
    }

    .detailShopProductF{
        width: 20em;
        height: 20em;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        margin-top: 5em;
        background-color: #F4F4F4;
    
    
    }
    .detailShopProductF img{
        width: 18em;
        background-color: #F4F4F4;
        margin-top: 3em;
    
    
    }

    .detailShopProductInfo{
        width: 30em;
    }

    .detailShopProductInfo h1{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    


}

@media(min-width: 1050px) {
    .shop{
        width: 80%;
        margin-left: auto;
        margin-right: auto;    }

    .shopProduct{
        width: 25%;
        margin: 1%;
    }
}

@media(min-width: 1200px) {
    .loginContainer {
        width: 40%;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        padding: 5%;
    }
    .desktopNavLinks {
        margin-right: 45%;
    }
    .indexBackground {
        background-color: #F4F4F4;
        padding: 0.5em;
        margin-bottom: 5em;
    }
    .sectionContainer {
        display: grid;
        grid-template-columns: 33% 33% 25%;
        grid-template-rows: repeat(2, 50%);
        gap: 1em;
        justify-content: center;
        padding: 1em;
        margin-bottom: 5em;
    }
    .section {
        font-weight: bolder;
        font-size: 1.2em;
        text-align: center;
        display: grid;
        align-items: center;
        justify-items: center;
        border-radius: 20px;
        color: white;
        text-decoration: none;
        padding: 4em;
    }
    .productsIndex {
        padding: 1em;
        margin-bottom: 0;
    }
    #shopButton {
        margin-top: 1em;
        margin-bottom: 18em;
        width: 40%;
    }
    footer {
        gap: 15em;
    }

    
    .shop{
        width: 80%;
        margin-left: auto;
        margin-right: auto;    }

    .shopProduct{
        width: 20%;
        margin: 1%;
    }
}

@media(min-width: 1750px) {
    .desktopNavLinks {
        margin-right: 60%;
    }
    .indexBackground {
        background-color: #F4F4F4;
        padding: 0.5em;
        margin-bottom: 5em;
    }
    .sectionContainer {
        display: grid;
        grid-template-columns: 25% 25% 20%;
        grid-template-rows: repeat(2, 50%);
        gap: 1em;
        justify-content: center;
        padding: 1em;
        margin-bottom: 5em;
    }
    footer {
        gap: 30em;
    }

    .shop{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .shopProduct{
        width: 15%;
        margin: 0.1%;
    }

   .detailShop{
       margin-top: 5em;
   }

   

}